<!DOCTYPE html>
<html lang="en">
<head>
<% include ./partials/_header%>
    <title>Accueil</title>
</head>
<body>
    <% include ./partials/_nav%>
    
    <div class="card">
            <header class="card-header">

                <h1 class="card-header-title"><%= title %></h1>
            
                <a href="#" class="card-header-icon" aria-label="more options">
                <span class="icon">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
                </a>
            </header>
            <div class="card-content">
            
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus illum minus beatae reprehenderit deleniti? Illo minus hic ut, dolor cum excepturi aperiam ab? Sed blanditiis dicta vel sint. Ipsam, accusamus.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae id similique, dolore molestias, eligendi earum culpa reprehenderit a odit autem ipsa amet nulla architecto odio consequatur consequuntur in, rerum nesciunt!
                        Corrupti unde dolorum deleniti facere error nesciunt nobis, veritatis asperiores impedit omnis amet eligendi perspiciatis quaerat aspernatur sint! Similique ipsam, quia quidem voluptatum asperiores odio sequi molestias tempora unde repellat.
                        Esse eius nihil labore ratione repudiandae fugiat sed ex et nemo perspiciatis dolorum ab assumenda quas quae animi doloribus aspernatur, quos neque autem officiis ut, aut magnam pariatur? Earum, corrupti?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus quibusdam ipsam unde laudantium dignissimos quo veniam magnam hic. Quas tempore quia amet distinctio quod at quae asperiores dolor et neque!
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas voluptas illo magni minus maxime dolorum ad natus eaque, perferendis, distinctio et alias fugiat sint expedita eos ex quo. Tempore, similique?
                        Eum animi molestias, impedit similique necessitatibus laboriosam quis sequi? Cum, ut molestias suscipit sit aliquam iure quidem repudiandae rem possimus quaerat. Delectus nulla a facilis dolores ratione magnam ea mollitia!
                        Cum architecto ratione aut accusamus veritatis placeat odio aspernatur aliquid corrupti tenetur necessitatibus quia ullam neque, facilis nisi laboriosam, dolorem possimus voluptates ipsam earum repudiandae dolores. Voluptatem cupiditate expedita est.
                        Quia in qui debitis amet animi ipsam suscipit eaque saepe rerum accusamus corrupti, quod veritatis veniam officia esse cumque accusantium corporis odit similique consequuntur eligendi. Deleniti rem earum et ipsam?
                        Cum eum doloremque sit voluptas debitis esse illum repellat, architecto earum consequatur provident rerum voluptates numquam qui saepe pariatur laudantium eligendi est! Enim, repellat. Similique veniam ab minus cupiditate magni.
                        Maiores doloremque saepe porro, placeat id culpa perspiciatis blanditiis, quasi, aliquam animi molestiae repudiandae? Minus expedita modi corporis exercitationem unde eveniet, voluptas explicabo ea natus magnam, vel corrupti ullam atque?
                        Commodi autem saepe officia quis voluptatum? Id quia quasi expedita eligendi dolore fuga! Quibusdam quia nobis corrupti iusto, ab dolorem, in, ipsum nihil illo fugit dolorum sunt harum maiores aspernatur?
                        Dolorum, hic eveniet placeat reiciendis ipsam consequatur dolorem numquam dignissimos obcaecati quas voluptas labore! Officia quia amet vel reprehenderit adipisci ipsa accusamus, veniam minus quasi optio magnam maiores magni odit!
                        Voluptatem ipsam, recusandae sit quaerat illo velit repudiandae, necessitatibus maiores quos et sed reiciendis? Inventore fuga saepe voluptate, itaque, nostrum excepturi deleniti, ipsam beatae sapiente tenetur nisi. Iusto, similique exercitationem.
                        Ullam consequatur culpa, cumque quibusdam deserunt necessitatibus unde tenetur inventore voluptas rerum explicabo. Earum, cumque non sapiente tempora ut reiciendis omnis aliquam voluptas cupiditate, at ullam facere, deleniti illo iure.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim sequi voluptates amet accusantium minima nihil illo nemo nam animi modi asperiores optio quas ab magnam odit, adipisci quod sapiente reprehenderit!
                        Quis porro ex voluptate dolorem dignissimos voluptatum, consequuntur id facere fugiat voluptas optio enim facilis repellat! Autem sit consectetur fugiat adipisci laudantium quaerat eos iusto, in saepe nemo ipsum explicabo?
                        Blanditiis aut, ex dignissimos natus laborum velit deleniti quia saepe minima nobis ullam quas facere beatae enim tenetur neque. Id molestias tempora excepturi obcaecati deleniti sit optio illum, porro sint.
                        Repudiandae sunt facilis et exercitationem esse beatae provident. Beatae enim ipsam dicta excepturi! Delectus sunt iusto dolor doloribus dignissimos perferendis similique quia fugit, ullam obcaecati aliquid, officia tempora. Facere, exercitationem!
                        Velit perferendis, molestiae itaque iusto nemo pariatur quis error rem architecto eveniet! Assumenda fuga laborum, suscipit, odio necessitatibus, doloremque quaerat vero maxime voluptatem eius numquam labore at tempora non atque.
                        Quos autem quam, corrupti neque dicta nulla aut quis ipsam eos, necessitatibus sapiente perspiciatis, sed dolorem! Illum corporis in provident magnam. Soluta, voluptates. Quo, totam sunt repudiandae quam molestias ipsam!
                        Fugiat ea amet libero nostrum pariatur unde exercitationem, a eveniet perspiciatis quos omnis maiores odio, ullam repudiandae dolor totam facilis asperiores itaque ipsam excepturi blanditiis placeat similique doloremque expedita. Aspernatur.
                        Aliquid fugiat porro possimus, aliquam deserunt hic sunt excepturi! Aperiam dolore voluptatem fuga veritatis accusamus autem sunt alias, expedita quidem, praesentium eligendi explicabo. Sint maiores atque illo ratione, veritatis cumque?
                        In architecto blanditiis natus cupiditate beatae vitae optio rem ex quia adipisci molestiae, reiciendis at molestias eligendi quaerat enim esse corrupti officia a deserunt quidem eveniet aspernatur sapiente qui? Deleniti.
                        Placeat incidunt rem voluptate ducimus ad dolor quaerat assumenda corrupti enim eaque recusandae itaque quidem necessitatibus, quos quam quia natus asperiores autem saepe doloribus unde eius molestias a quisquam. Repellendus!
                        Nam maxime ipsa in dolor totam nulla quae voluptatum aliquam unde sit, quibusdam tempora repellendus saepe ut pariatur. Debitis temporibus eveniet accusantium aliquam maiores dolor numquam voluptatem laborum quis ex!
                        Esse libero ad quasi voluptatibus aliquid necessitatibus minima quisquam corrupti dicta neque deleniti earum eligendi, fuga tempora dolorum nam enim, eum id? Dignissimos suscipit provident a id officiis, porro blanditiis!
                        Architecto temporibus, omnis impedit quod voluptatibus delectus optio aut nulla officiis aliquid id facere quae commodi alias reprehenderit quos sapiente dolor corrupti saepe praesentium quia dolorem sed numquam. Numquam, minus!
                        Impedit provident at odio deserunt neque, culpa dolore itaque possimus ullam, cupiditate voluptatem enim. Quae fugiat, corporis suscipit, consequuntur ducimus sunt ipsum quaerat deserunt esse cupiditate autem reprehenderit quo optio.
                        Placeat, animi debitis nam vel velit non consectetur, dignissimos quasi aut vitae maiores quidem ex ad officiis nulla est ducimus. Sit reprehenderit repudiandae ducimus quos facere vitae porro repellendus molestiae?
                        Molestias sunt possimus dignissimos consectetur eveniet. Obcaecati veniam sequi tempora fugiat eligendi alias consequatur quia ratione commodi eaque similique, repellendus distinctio? Minima consequuntur veritatis vero repellat quod non natus numquam.
                        Aut rerum nulla obcaecati tempora sunt suscipit illum assumenda eos, praesentium odit eveniet molestiae incidunt sit mollitia sequi minus ut facilis voluptates nobis aliquid molestias. Sequi perferendis rem harum vitae!
                        A animi labore error iusto. Iure dolores veniam pariatur odio eum voluptas quibusdam sequi, culpa excepturi, cupiditate quod recusandae fugiat! Adipisci placeat animi temporibus, reiciendis molestiae quasi tempora consequatur mollitia.
                        Rerum labore aperiam nobis ad ea sequi corrupti facilis unde cum. Voluptate saepe nam quibusdam earum, ab quaerat commodi doloribus ad perferendis id eligendi blanditiis illo reiciendis at, eos dicta.
                        Dolore corporis illum, quos maiores ad ipsum dignissimos voluptate nulla consequatur! Eveniet, minus? Culpa ad nihil ratione facere reiciendis dolorem nam, soluta, labore ea iste quis numquam aut, voluptates magnam!
           
            </div>
            </div>
    <% include ./partials/_scripts%>
    <% include ./partials/_footer%>
</body>
</html>