<!DOCTYPE html>
<html lang="en">
<head>
<% include ./partials/_header%>
    <title>Accueil</title>
</head>
<body>
    <% include ./partials/_nav%>
        <div>
        </div>

        <div class="container">
                <div class="notification">
                    <div class="columns">
                    <div class="column is-one-third"> 
                        <div class="control">
                    <input class="input is-success" type="text" placeholder="Search"> 
                    </div>
                   
                </div>

                <div class="column is-one-third"> 
                        <div class="control">
                   <a class="button is-primary">Search</a>
                    </div>
                   
                </div>
                
                    </div>
                </div>
                </div>
  


    <% include ./partials/_scripts%>
    <% include ./partials/_footer%>
</body>
</html>